{% extends "base_generic.html" %}

{% block content %}

<h1>{{ title|capfirst  }} a book copy</h1>


<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">{{ title }} copy</button>
  {% if title == 'Add' %}
  <button type="submit" name="add_copy">Save copy and add another</button>
  {% endif %}
</form>
{% endblock %}
